.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  font-family: 'Roboto Codensen', sans-serif;
  font-size: 16px;
  background:#f3f3f3;
  color:#666;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Oswald', sans-serif;

}

h1 {
  font-size: 2rem;
}

h3{
  font-size: 1.6rem;
}
a:hover,
a:focus,
a:active{
  color:#487922;
  text-decoration:none;
}
header{background: #487922;}
.top-bar {
  padding:0px;
  font-size:12px;
  border-bottom: .4px solid #3b621c;
  min-height:40px;
}
.main-header {
  padding:20px 0 25px;
}
.site-title {
  color:#fff;
}
.header-nav {
  background: #3b621c;
}
.calc-res {
  font-size: 1.2rem;
}
.calc-res li {
  margin: 10px 0;
}
